/**
 * Reset
 */

body {
	margin: 0;
	padding: 0;
	font: 10pt OpenSans;
}

a, a:link, a:visited, a:active, a:hover {
	text-decoration: none;
}

/**
 * Global
 */

.container {
	width: 980px;
	margin: 0 auto;
}

.right {
	float: right;
}

.left {
	float: left;
}

/*
 * Clearfix implementation by Nicholas Gallagher from here: http://nicolasgallagher.com/micro-clearfix-hack/
 */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/**
 * Header
 */

#contact p {
	margin: 0;
	text-align: right;
}

#meta {
	margin-top: 30px;
}

#meta div {
	float: left;
	margin-right: 16px;
}

#meta div:last-child {
	margin-right: 0;
}

#meta img {
	margin-top: 2px;
}

#bbb {
	margin-right: 47px;
}

#call-us {
	font-weight: bold;
}

#call-us #phone-number {
	color: rgb(63, 130, 82);
}

/**
 * Navigation
 */

nav {
	background: rgb(63, 130, 82);
	height: 50px;
	text-transform: uppercase;
}

nav .container {
	width: 700px;
}

nav ul {
	margin: 0;
	padding: 0;
	padding-top: 16px;
	list-style-type: none;
}

nav li {
	float: left;
	width: 140px;
	text-align: center;
}

nav a {
	color: rgb(255, 255, 255);
}
