/**
 * Reset
 */

body {
	margin: 0;
	padding: 0;
	font: 10pt OpenSans;
}

a, a:link, a:visited, a:active, a:hover {
	text-decoration: none;
}

/**
 * Global
 */

.container {
	width: 980px;
	margin: 0 auto;
}

.right {
	float: right;
}

.left {
	float: left;
}

/**
 * Header
 */

#contact p {
	margin: 0;
	text-align: right;
}

#meta {
	margin-top: 30px;
}

#meta div {
	float: left;
	margin-right: 16px;
}

#meta div:last-child {
	margin-right: 0;
}

#meta img {
	margin-top: 2px;
}

#bbb {
	margin-right: 47px;
}

#call-us {
	font-weight: bold;
}

#call-us #phone-number {
	color: rgb(63, 130, 82);
}
